Books_project_clean.ipynb
Books_project_draft.ipynb
C:\Users\romai\Documents\DSTI\4-Python Labs\Project\Python\book_exploratory_cleaning\
book_visualization.ipynb
book_modelization.ipynb
your_report.html